nav {
  background-color: #1f2937;
}

footer {
  background-color: #1f2937;
}

.text {
  background-color: #e5e7eb;
  font-size: 32px;
  font-style: italic;
  color: #1f2937;
}

.buttons {
  background-color: #3882f6;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
